<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="https://kit.fontawesome.com/fc9c9e5a32.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="index_body">
    <header class="header_vertical" >
        <nav class="navbar_vertical">
        <ul type=>
            <li><a href="/">HOME</a></li>
            <li><a href="/ABOUT">ABOUT</a></li>
            <li><a href="/MUSIC">MUSIC</a></li>
            <li><a href="/CONTACT">CONTACT</a></li>
        </ul>
    </nav>
        <ul class="redes_index">
            <li><a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-x-twitter" style="color: #000000;"></i></a></li>
                <li><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook" style="color: #000000;"></i></a></li>
                <li><a href="https://www.spotify.com" target="_blank"><i class="fa-brands fa-spotify" style="color: #000000;"></i></a></li>
                <li><a href="https://www.apple.com" target="_blank"><i class="fa-brands fa-apple" style="color: #000000;"></i></a></li>
                <li><a href="https://www.amazon.com" target="_blank"><i class="fa-brands fa-amazon" style="color: #000000;"></i></a></li>
                <li><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram" style="color: #000000;"></i></a></li>
        </ul>
    </header>
    <h3>E M I L I A <br> C O L E / /</h3>
    <h1>TWIST IN MY REALITY</h1>
</body>

</html>