<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole - music</title>
    <script src="https://kit.fontawesome.com/fc9c9e5a32.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
    
</head>
<body class="music_body">
  
    <header id="header" class="header_horizontal">
        <nav class="navbar_horizontal_music">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/ABOUT">ABOUT</a></li>
            <li><a href="/MUSIC">MUSIC</a></li>
            <li class="contact_nav"><a href="/CONTACT">CONTACT</a></li>
        </ul>
    </nav>
        <ul id="redes_music">
            <li><a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-x-twitter" style="color: #000000;"></i></a></li>
                <li><a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook" style="color: #000000;"></i></a></li>
                <li><a href="https://www.spotify.com" target="_blank"><i class="fa-brands fa-spotify" style="color: #000000;"></i></a></li>
                <li><a href="https://www.apple.com" target="_blank"><i class="fa-brands fa-apple" style="color: #000000;"></i></a></li>
                <li><a href="https://www.amazon.com" target="_blank"><i class="fa-brands fa-amazon" style="color: #000000;"></i></a></li>
                <li><a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram" style="color: #000000;"></i></a></li>
        </ul>
    </header>
    <h1>MUSIC //</h1>
    <section>
        <h4>Direct links</h4>
        <ul class="destacado">
            <li><a href="#album">Album</a></li>
            <li><a href="#video1">Video: Organic Love</a></li>
            <li><a href="#video2">Video: Street Light</a></li>
        </ul>

        <article id="album">
            <h2>ALBUM <BR> TWIST IN MY REALITY </h2>
                <img src="/img/emilia-play-list.png" alt="Imagen del album">
            <ol>
                <li><i class="fa-solid fa-play" style="color: #000000;"></i><a href="https://vimeo.com/135166028" target="_blank">Organic Love | 02:40</a></li>
                <li><i class="fa-solid fa-play" style="color: #000000;"></i><a href="">Twist In My Reality | 02:10 </a></li>
                <li><i class="fa-solid fa-play" style="color: #000000;"></i><a href="https://vimeo.com/134861419" target="_blank">Street Light | 03:28 </a></li>
                <li><i class="fa-solid fa-play" style="color: #000000;"></i><a href="">Love Don't Live Here Anymore (Cover) | 03:49 </a></li>
            </ol>
            <h6><a href="#header">Go top</a></h6>
         </article>
         <article id="video1">
            <h2>VIDEO <br> ORGANIC LOVE</h2>
            <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
         <p>Directed by VINCE MALC & EMILIA COLE <br>Edited and Filmed by NICOLAS TROY <br> Produced by NIKI HEART, <br>Wix Films LTD. </p>
         <h6><a href="#header">Go top</a></h6>
        </article>
        <article id="video2"> 
            <h2>VIDEO <br> STREET LIGHT</h2>
            <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>       
            <p>Directed by VINCE MALC & EMILIA COLE <br>Edited and Filmed by NICOLAS TROY <br> Produced by NIKI HEART, <br>Wix Films LTD. </p>
            <h6><a href="#header">Go top</a></h6>
    </article>
    </section>

</body>
</html>